# Ignore everything
*
*/**

# Whitelist files
!LICENSE
!CHANGELOG.md
!package.nls*.json
!out/
!l10n/

# Nhân F# Native AOT và thư viện C gốc LibGit2 cho mọi hệ điều hành (Windows, Linux, macOS).
!bin/**

!resources/icon.png
!resources/icon-512.png
!resources/webview-icon.svg
!resources/webview-icon-dark.svg
!resources/webview-icon-light.svg
!resources/activitybar-icon.svg
!resources/status-bar-icon.svg

